<!DOCTYPE html>
<html lang="fr">
<head><meta charset="UTF-8"><title>Fiche générée</title></head>
<body>
  <h1>Fiche produit générée</h1>
  <pre><%= contenu %></pre>
  <a href="/">⬅ Retour</a>
</body>
</html>
